Pyspark Group by and Aggregate Functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Aggo').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/18 09:47:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/01/18 09:47:36 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark

In [4]:
df_pyspark=spark.read.csv('DATA/test5.csv', header=True, inferSchema=True)

In [5]:
df_pyspark.show(10)

+-------+------------+------+
|   name|        dept|salary|
+-------+------------+------+
|Michael|         IOT| 83329|
|  Emily|         IOT|107214|
|Jessica|Data Science| 80980|
|Matthew|Data Science|180157|
|  Jacob|         IOT|242612|
|  Jacob|         IOT|118777|
|  Sarah|         IOT| 75133|
|  Emily|Data Science|128634|
|  Sarah|         IOT|115306|
|  Jacob|Data Science|153004|
+-------+------------+------+
only showing top 10 rows

In [6]:
#Finding all distinct values for dept
df_pyspark.select('dept').distinct().collect()

[Row(dept='IOT'), Row(dept='Big Data'), Row(dept='Data Science')]

In [7]:
# Finding Schema
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- salary: integer (nullable = true)

In [8]:
### Group by 
## Grouped to find the maximum salary
df_pyspark.groupBy('name').sum().show()

+-------+-----------+
|   name|sum(salary)|
+-------+-----------+
| Amanda|18803146012|
|Matthew|18818664079|
|  Jacob|18715995465|
|Michael|18814683490|
|  Sarah|18815117452|
| Ashley|18791877429|
|   John|18840013799|
|  Emily|18693075710|
|Jessica|18601128172|
|  David|18699924212|
+-------+-----------+

In [13]:
## Groupby dept which gives max salary 
df_pyspark.groupBy('dept').max().show()

+------------+-----------+
|        dept|max(salary)|
+------------+-----------+
|         IOT|     300000|
|    Big Data|     300000|
|Data Science|     300000|
+------------+-----------+

In [14]:
## Using the agg function for multiple aggs
from pyspark.sql import functions as F

df_pyspark.groupBy('dept').agg(F.min('salary'),
                              F.max('salary'),
                              F.sum('salary')).show()

+------------+-----------+-----------+-----------+
|        dept|min(salary)|max(salary)|sum(salary)|
+------------+-----------+-----------+-----------+
|         IOT|      75000|     300000|62466571294|
|    Big Data|      75001|     300000|62491438402|
|Data Science|      75000|     300000|62635616124|
+------------+-----------+-----------+-----------+