In [1]:
!pip3 install pyspark

Requirement already satisfied: pyspark in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pyspark) (0.10.9.5)

In [2]:
import pyspark

In [23]:
import pandas as pd
pd.read_csv('DATA/test1.csv')

           name  age
0         Sarah   58
1          John   71
2       Jessica   31
3         Sarah   66
4        Amanda   27
...         ...  ...
999995  Michael   32
999996  Matthew   33
999997    Sarah   72
999998  Jessica   21
999999  Matthew   72

[1000000 rows x 2 columns]

In [24]:
from pyspark.sql import SparkSession

In [25]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [26]:
spark

In [27]:
df_pyspark=spark.read.csv('DATA/test1.csv')

In [28]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [29]:
df_pyspark.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   name|age|
|  Sarah| 58|
|   John| 71|
|Jessica| 31|
|  Sarah| 66|
| Amanda| 27|
|  Emily| 77|
|  Jacob| 19|
|  Emily| 38|
|Michael| 79|
| Ashley| 27|
| Amanda| 18|
|  David| 68|
| Ashley| 41|
| Amanda| 36|
| Ashley| 64|
|   John| 51|
| Ashley| 54|
|Michael| 68|
| Ashley| 28|
+-------+---+
only showing top 20 rows

In [30]:
df_pyspark=spark.read.option('header', 'true').csv('DATA/test1.csv')

In [31]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [32]:
df_pyspark.head(3)

[Row(name='Sarah', age='58'),
 Row(name='John', age='71'),
 Row(name='Jessica', age='31')]

In [33]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)

 In this document I will cover:
 - PySpark DataFrame
 - Reading the Dataset
 - Checking the Datatypes of the column (Schema)
 - Selecting Columns and Indexing
 - Check Describe option similar to Pandas
 - Adding Columns
 - Dropping Columns