### Pyspark Dataframes
- Filter Operation
- &,|,==
- ~

In [1]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/17 17:09:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
df_pyspark=spark.read.csv('DATA/test4.csv', header=True, inferSchema=True)
df_pyspark.show(3)

+-------+---+----------+------+
|   name|age|expereince|salary|
+-------+---+----------+------+
|  Emily| 72|        14|159850|
|Jessica| 56|         6|211460|
| Amanda| 22|         2|124570|
+-------+---+----------+------+
only showing top 3 rows

In [11]:
### Filter Operations
## Salary of the people who are less than or equal to 80000
# Option 1
df_pyspark.filter('salary<=80000').show(3)

+-------+---+----------+------+
|   name|age|expereince|salary|
+-------+---+----------+------+
|  Emily| 36|         9| 79527|
|Michael| 59|        10| 77353|
|  David| 28|         7| 76189|
+-------+---+----------+------+
only showing top 3 rows

In [13]:
# Selecting name and age only with filter
df_pyspark.filter('salary<=80000').select(['name', 'age']).show(3)

+-------+---+
|   name|age|
+-------+---+
|  Emily| 36|
|Michael| 59|
|  David| 28|
+-------+---+
only showing top 3 rows

In [18]:
# Option 2
df_pyspark.filter((df_pyspark['salary']< 80000) & 
                  (df_pyspark['salary']>78000)).show(3)

+-------+---+----------+------+
|   name|age|expereince|salary|
+-------+---+----------+------+
|  Emily| 36|         9| 79527|
|  David| 53|        11| 78574|
|Jessica| 79|         4| 78043|
+-------+---+----------+------+
only showing top 3 rows